#game_background {
	background-size: cover;
	background-repeat: no-repeat;
}
.cars {
	position: relative;
	height: 50px;
	width: auto;
	margin: 20px;
	margin-top: 20%;
}

img {
	display: block;
	width: 100%;
}
#button{
	text-align: center;
}
#restart {
	margin: 0 auto;
	text-align: center;
}